<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Tasks</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
  <div class="content">
    <div class="header">
      <h2>Done Tasks</h2>
    </div>
    <hr/>
    <div class="table-responsive">
      <table class="data-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Time</th>
            <th>Status</th>
            <th>What Happened</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for task in expired_tasks %}
          <tr class="{{ task.status }}">
            <td data-label="Title">{{ task.title }}</td>
            <td data-label="Due Time">{{ task.due_time }}</td>
            <td data-label="Status">{{ task.status }}</td>
            <td data-label="What Happened">{{ task.what_happened }}</td>
            <td data-label="Action"><a href="{% url 'edit_task' task.pk %}" class="edit-link">Edit</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
