<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Tasks</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
  <div class="content">
    <div class="header">
      <h2>Done Invoices</h2>
    </div>
    <hr/>
    <div class="table-responsive">
      <table class="data-table">
        <thead>
          <tr>
            <th>Invoice ID</th>
            <th>Lead Name</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Finalization Notes</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr class="{{ d.status }}">
            <td data-label="Invoice ID">{{ d.pk }}</td>
            <td data-label="Lead Name">{{ d.lead.name }}</td>
            <td data-label="Destination">{{ d.lead.destination }}</td>
            <td data-label="Status">{{ d.status }}</td>
            <td data-label="Finalization Notes">{{ d.lead.finalization_notes }}</td>
            <td data-label="Action"><a href="{% url 'edit_lead_tasks' d.pk %}" class="edit-link">Edit</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>

