/* General Styles */

body {
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
    margin-left: 250px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

textarea{
    height:50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Accordion Styles */

.accordion {
    margin-bottom: 20px;
}

.accordion-header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.accordion-header::after {
    content: '\25B8'; /* Unicode arrow character */
    float: right;
    margin-left: 5px;
    transition: transform 0.3s ease; /* Smooth transition for animation */
}

.accordion-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: block;
}

.accordion-content.active {
    display: none;
}

/* Table Styles */

#servicesTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#servicesTable th, #servicesTable td {
    padding: 10px;
    text-align: left;
}

#servicesTable th {
    background-color: #007bff;
    color: #fff;
}

#servicesTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#servicesTable tbody tr:hover {
    background-color: #ddd;
}

/* Form Styles */

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Button Styles */
button[type="button"] {
    background-color: #28a745; /* Green color for button background */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Add margin to separate from the table */
}

button[type="button"]:hover {
    background-color: #218838; /* Darker green color on hover */
}

/* Style for the remove button */
.removebtn {
    color: rgb(255, 0, 0); /* White text color */
    font-weight: 800;
    text-align: center; /* Center text horizontally */
    cursor: pointer; /* Cursor pointer */
}

/* CSS to limit the width of each table td */
#servicesTable td {
    max-width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payment-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.payment-table th,
.payment-table td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
}

.payment-table th {
    background-color: #f5f5f5;
    font-weight: 600;
    color: #333;
}

.payment-table td {
    background-color: #fff;
    color: #666;
}

.payment-table tbody tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.add-payment-link {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    
}

tr.checked {
    background-color: #84ff8e !important; /* Light green background */
}

.add-payment-link:hover {
    background-color: #218838;
}