/* Common styles */
body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}

.clearfix {
  margin: 15px;
}

/* App styles */
.title {
  text-align: center;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

a {
  color: #17a2b8;
}

.container {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.container form{
padding: 50px !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.submit-event {
  background: linear-gradient(135deg, #ff8c00, #ffa500);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-event:hover {
  background: linear-gradient(135deg, #ff7f50, #ff6347);
}

.submit-event:focus {
  outline: none;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

.float-right {
  float: right !important;
}